@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% {
    transform: translateY(-100%); /* start above */
    opacity: 0.6;
  }
  100% {
    transform: translateY(100vh); /* fall past the bottom */
    opacity: 0;
  }
}

.raindrop {
  @apply absolute w-px bg-blue-300 rounded-full;
  width : 2px;
  animation: fall linear infinite;
}
